body{
  background-color: #191970;
  background-image: url('https://virtus-img.cdnvideo.ru/images/as-is/plain/19/19788aa99c50d77ffd5d7befa779d52b.jpg@jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.film-list{
  margin: 0;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.film__card{
  padding: 5px;
  border: 2px solid #000;
  border-radius: 3px;
  list-style: none;
  line-height: 1.25;
  background-color: #FFE4B5f3;
  transition: box-shadow 250ms linear;
}

.film__card:hover,
.film__card:focus{
  box-shadow: -1em 0 .2em olive;
}

.film__title{
  color: #0000FF;
 
  text-transform: uppercase;
  text-align: center;
}

.film__text{
  font-size: 20px;
  color: #191970;
}

.film__text--accent{
  font-style: italic;
  font-weight: 700;
}

.spiner{
  width: 20px;
  height: 20px;
  border: 3px dotted transparent;
  border-left: 3px dotted #000;
  border-right: 3px dotted #000;
  border-bottom: 3px dotted #000;
  border-radius: 50px;
  animation: spin 1000ms linear infinite;
}

@keyframes spin{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}